:root {
    --gray-900: rgb(46, 46, 46);
    --gray-800: rgb(63, 63, 63);
    --gray-700: rgb(82, 82, 82);
    --gray-600: rgb(93, 93, 93);
    --gray-200: rgb(151,151,151);
    --gray-100: rgb(208, 207, 207);

    --primary-color: rgb(58, 140, 146);
    --primary-color-offset: rgb(70, 112, 97);
    --secondary-color: rgb(168, 151, 67);

    --primary-gradiant: linear-gradient(190deg, var(--primary-color-offset), var(--primary-color));

    --defaultTextColor: white;
    --box-shadow-color: rgb(35,35,35);

    --header-background-color: var(--gray-900);
    --header-title-color: var(--gray-100);

    --nav-text-color: var(--secondary-color);
    --nav-button-color: var(--gray-800);

    --main-background-color: var(--gray-800);
    --main-section-color: var(--gray-600);
    --main-section-content-color: var(--gray-700);

    --work-entry-h3-color: var(--primary-color);
    --work-entry-border-color: var(--gray-200);
    --work-entry-glow-color: rgb(76, 201, 238);

    --footer-background-color: var(--header-background-color);
}

* {
    color: var(--defaultTextColor);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: var(--header-background-color);
}

main {
    background: var(--main-background-color);
    padding: 10px 10px;
    
    border-style:none;
    border-top: 2px ridge var(--primary-color);
}

/* Header */
header {
    display: flex;
    background: var(--header-background-color);
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 25px 25px;
    border-bottom: 1px solid black;
}

header h1 {
    font-size: 36px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    display: inline;
    color: var(--header-title-color);
    background: var(--primary-gradiant);
    padding: 5px 10px 5px 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 0px 0px 25px 25px;
}

/* navigation */
nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height:fit-content;
    width: 50%;
    margin-top: 10px;

}

nav a {
    color: var(--nav-text-color);
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    background: var(--nav-button-color);
    padding: 5px;
    margin: 0 10px;
    border-radius: 10px;
    border: 1px solid var(--box-shadow-color);
}

nav a:hover {
    color:var(--primary-color);
}

/* image under header */
figure {
    background-image: linear-gradient(var(--gray-700),var(--gray-700)),url(../images/figure.PNG);
    background-blend-mode:lighten;
    width: 100%;
    height: 110px;
    background-position: bottom;
}

/* main sections */
.main-section {
    display: flex;
    justify-content: flex-start;
    border: 1px solid var(--gray-900);
    border-radius: 10px 10px 10px 10px;
    margin: 15px 5px;
    background-color: var(--main-section-color);
    box-shadow:var(--box-shadow-color) 4px 4px 8px;
}

.main-section h2 {
    min-width: 180px;
    font-size: 28px;
    color: white;
    white-space: nowrap;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 15px;
    height:fit-content;
    background: var(--primary-gradiant);
    border-radius: 10px 0px 0px 0px;
    filter: grayscale(15%);
    overflow: hidden;
}

#about-me
{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#about-me p{
    border-top: 1px dashed var(--gray-600);
    padding-top: 10px;
    text-indent: 50px;
}

#about-me img{
    width:300px;
    height:auto;
    border-radius: 15px;
    margin-bottom:15px;
}

/* main section-content */
.section-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    background-color: var(--main-section-content-color);
    border-radius: 10px;
    width:100%;
    box-shadow:inset var(--box-shadow-color) 1px 1px 5px;
}

/* container for work-entries */
.work-view {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

/* work-entry class for stylizing individual portfolio entries*/
.work-entry {
    border: 1px solid var(--gray-200);
    border-radius: 25px;
    position:relative;
    margin: 5px 0;
    height: 200px;
    transition: 0.3s;
    width: 49%;
    box-shadow:var(--box-shadow-color) 3px 3px 5px;
}

/* id to mark first work-entry for specific style differences */
#first-item{
    width:100%;
}

.work-entry h3 {
    position: absolute;
    top: -1px;
    left: -1px;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 25px 0 25px 0;
    border: 1px solid white;
    transition: 0.3s;
    
}

.work-entry img {
    border-radius: 25px;
    width:100%;
    height:100%;
    object-fit:cover;
    filter: grayscale(66%);
    transition: 0.3s;
}


.work-entry:hover, .work-entry:hover h3{
    border-color: var(--work-entry-glow-color);
    box-shadow: var(--work-entry-glow-color) 0px 0px 15px, inset var(--work-entry-glow-color) 0px 0px 15px;
}

.work-entry:hover img{
    filter:none;
}

/* contact list items */
#contact ul li{
    margin: 10px 0px;
}

/* footer */
footer{
    padding: 10px;
    background: var(--footer-background-color);
}

footer p{
    text-align: center;
}




/* media queries */
@media screen and (min-width: 769px) { 
    /* cut section h2 off at 45deg if kicked to the side */
    .main-section h2:after{
        content: "";
        position: absolute;
        right: -15px;
        width:40px;
        height: 60px;
        transform:rotate(45deg);
        background-color:rgb(93,93,93);
    }
    
}

/* lower nav down if screen width is narrow */
@media screen and (max-width: 992px){
    header {
        flex-direction: column;
    }
    .main-section{
        flex-direction: row;
    }
    nav{
        width: 100%;
        justify-content: space-around;
    }
    figure{
        height: 150px;
    }
    header h1{
        margin-left: 0;
    }
}

/* adjust flow of sections and content if screen width become very narrow */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }
    .main-section{
        flex-direction: column;
        border-top-left-radius: 10px;
    }
    .section-content{
        align-self:center;
        width:98%;
    }
    .main-section h2{
        padding-bottom: 5px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0;
        border-right: none;
        text-align: center;
    }
    nav{
        width: 100%;
        justify-content: space-around;
    }
    figure{
        height: 150px;
    }
}
